/* Variables */

:root {
    --md-primary-fg-color: #000000;
    --md-primary-bg-color: #fff;
    --md-primary-bg-color--light: #ffffffb3;
    --md-accent-fg-color: #a8d5ff;
    --md-accent-fg-color--transparent: #ffffff0c;
}

:root, [data-md-color-scheme=default] {
    --md-default-fg-color: #ffffffde;
    --md-default-fg-color--light: #ffffff8a;
    --md-default-fg-color--lighter: #ffffff52;
    --md-default-fg-color--lightest: #ffffff12;
    --md-default-bg-color: #1e1e1e;
    --md-code-fg-color: #d4d4d4;
    --md-code-bg-color: #151515;
    --md-footer-bg-color: #000000;
    --md-footer-bg-color--dark: #000000;
    --md-typeset-a-color: #4faaff;
    --md-text-font: "Inter";
    --md-code-font: "JetBrains Mono";
}

/* Selection */

::selection {
    background-color: rgba(91, 168, 255, 0.2);
}

/* Layout */

td {
    padding: 0.3em 1.25em !important;
}

[data-ea-publisher] {
    margin-top: 3em;
}

/* Other styles */

:root {
    color-scheme: dark;
}

code:not(.hljs) {
    border: #282828 solid 2px;
    padding: 0.2em !important;
    border-radius: 0.4em !important;
}

code.hljs {
    border-radius: 10px !important;
}

@media screen and (min-width: 60em) {
    .md-search__form {
        border-radius: 10px;
    }
}

[data-md-toggle=search]:checked~.md-header .md-search__form {
    border-radius: 10px 10px 0 0;
}

.md-search__scrollwrap {
    border-radius: 0 0 10px 10px;
    transition: border-radius 0s;
}

.admonition {
    border-radius: 10px !important;
}

.admonition-title {
    border-radius: 8px 8px 0 0 !important;
}

.admonition.note {
    border-width: 2px;
    border-color: #448aff50 !important;
}

.admonition.warning {
    border-width: 2px;
    border-color: #ff910050 !important;
}

/* Disable selection */

.md-ellipsis, .md-nav__title {
    user-select: none;
}
